<a href="/modes/<%= mode.id %>" class="mode-item">
    <div class="mode-content">
        <h2><%= mode.title %></h2>
        <p><%= mode.description %></p>
    </div>
    <div class="led-strip-container">
        <div class="led-strip">
            <img src="/images/ledstrips/<%= mode.id %>_led1.png" alt="LED Strip 1">
            <img src="/images/ledstrips/<%= mode.id %>_led1.png" alt="LED Strip 1">
        </div>
        <div class="led-strip">
            <img src="/images/ledstrips/<%= mode.id %>_led2.png" alt="LED Strip 2">
            <img src="/images/ledstrips/<%= mode.id %>_led2.png" alt="LED Strip 2">
        </div>
    </div>
</a>

