<nav>
    <div class="nav-container">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="#">Showcase</a>
                    <ul class="dropdown">
                        <li><a href="<%= basePath %>/pats">Patterns</a></li>
                        <li><a href="<%= basePath %>/modes">Modes</a></li>
                    </ul>
                </li>
                <% if (user) { %>
                    <% if (user.username === 'admin') { %>
                        <li><a href="<%= basePath %>/control">Admin</a></li>
                    <% } %>
                    <li><a href="<%= basePath %>/upload">Upload</a></li>
                    <li><a href="<%= basePath %>/downloads">Downloads</a></li>
                    <li><a href="<%= basePath %>/user/<%= user.id %>">Profile</a></li>
                    <li><a href="<%= basePath %>/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="<%= basePath %>/downloads">Downloads</a></li>
                    <li><a href="<%= basePath %>/register">Register</a></li>
                    <li><a href="<%= basePath %>/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<script src="<%= basePath %>/js/initNav.js" defer></script>
