<% if ((isDuplicate & 1) === 0) { %>
    <div class="pat-item-submission <%= (isDuplicate & 2) ? 'duplicate' : '' %>" data-index="<%= tempId %>" data-pattern-id="<%= pat.id %>">
        <div class="pat-item-submission-content">
            <input type="hidden" name="patIds[]" value="<%= tempId %>" <%= (isDuplicate & 2) ? 'disabled' : '' %> />
            <% if (typeof editable === 'undefined' || editable) { %>
              <% if ((isDuplicate & 2) === 0) { %>
                <input type="text" name="patternNames[]" class="pat-name-input" id="patternName-<%= tempId %>" value="<%= patName || '' %>" placeholder="Pattern Name">
                <input type="text" name="patternDescriptions[]" class="pat-desc-input" id="patternDescription-<%= tempId %>" value="<%= patDescription || '' %>" placeholder="Description">
              <% } else { %>
                <input type="hidden" name="patternNames[]" id="patternName-<%= tempId %>" value="<%= duplicateName || patName || '' %>">
                <input type="hidden" name="patternDescriptions[]" id="patternDescription-<%= tempId %>" value="">
                <p class="pat-name"><%= duplicateName %></p>
                <p class="pat-duplicate-label">Already exists</p>
              <% } %>
            <% } else { %>
              <p class="pat-name"><%= patName %></p>
            <% } %>
            <% const patData = pat.data || {}; %>
            <% if (patData.colorset && patData.colorset.length) { %>
              <div class="pat-colorset-swatches">
                <% patData.colorset.forEach(hex => { %>
                  <span class="colorset-swatch" style="background: <%= hex.replace('0x', '#') %>"></span>
                <% }); %>
              </div>
            <% } %>
        </div>
        <%- include('submission-lightshow', { pat: pat, tempId: tempId }) %>
        <a href="<%= basePath %>/pat/<%= pat.id %>" class="pat-item-link" title="View pattern page">&rarr;</a>
    </div>
<% } %>
