<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="showcase">
            <h2>Welcome to Vortex Community</h2>
            <header>
              <% if (user) { %>
              <p>Welcome, <%= user.username %>!</p>
              <% } else { %>
              <p>Welcome, Guest!</p>
              <% } %>
            </header>
            <p>We're excited to announce that Vortex Community is now officially in live beta! You can now make your account permanently then explore, upload, and share your favorite vortex modes. We hope this will be the start of a vibrant community.</p>
            <h3>Top Upvoted Modes</h3>
            <div class="mode-showcase">
                <% topModes.forEach(mode => { %>
                    <%- include('partials/mode-tile', { mode: mode }) %>
                <% }); %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

