<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <div class="container">
            <% if (messages.error) { %>
                <div class="alert alert-danger"><%= messages.error %></div>
            <% } %>
            <% if (messages.success) { %>
                <div class="alert alert-success"><%= messages.success %></div>
            <% } %>
        </div>
        <section class="login-section">
            <form id="loginForm" action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" autocomplete="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" autocomplete="current-password" required>
                </div>
                <div class="login-button">
                    <button class="g-recaptcha" data-sitekey="6LebppMpAAAAALluxJhaPmEk_fw-H452QV1HoTwk" data-callback='onSubmit' data-action='submit'>Login</button>
                </div>
                <!-- Can't use login with facebook because it requires business verification and I don't run a business, thanks facebook -->
                <!-- <%- include('partials/facebook-login') %> -->
            </form>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("loginForm").submit();
        }
    </script>
</body>
</html>
