<h1><%= mode.name %></h1>
<p>Created by: <%= mode.createdBy.username %></p> <!-- Assuming your user model has a username field -->
<img src="data:image/png;base64,<%= mode.thumbnail.toString('base64') %>" alt="Mode Thumbnail">
<p><%= mode.description %></p>
<p>Votes: <%= mode.votes %></p>
