<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="search-bar">
            <form action="/modes" method="get">
                <div class="search-container">
                    <input type="text" class="search-input" name="search" placeholder="Search for modes..." value="<%= search || '' %>">
                </div>
                <button type="submit">Search</button>
            </form>
        </section>
        <section class="mode-list">
            <% modes.forEach(function(mode) { %>
                <%- include('partials/mode-tile', { mode: mode }) %>
            <% }); %>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

