<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="mode-profile-page">
            <div class="mode-icons">
                <form action="/mode/<%= mode._id %>/<%= user && mode.upvotedBy.includes(user._id) ? 'unvote' : 'upvote' %>" method="post" class="votes-container">
                    <button type="submit" class="icon-button">
                        <img src="<%= user && mode.upvotedBy.includes(user._id) ? '/images/color-upvote-icon.png' : '/images/bw-upvote-icon.png' %>" alt="Upvote" class="upvote-icon">
                    </button>
                    <span class="votes-count"><%= mode.votes %></span>
                </form>
                <form action="/mode/<%= mode._id %>/<%= user && user.favorites.includes(mode._id.toString()) ? 'unfavorite' : 'favorite' %>" method="post" class="favorite-container">
                    <button type="submit" class="icon-button">
                        <img src="<%= user && user.favorites.includes(mode._id.toString()) ? '/images/color-star-icon.png' : '/images/bw-star-icon.png' %>" alt="Favorite" class="favorite-icon">
                    </button>
                </form>
            </div>
            <h2 class="mode-title"><%= mode.name %></h2>
            <div class="mode-profile-header">
                <p>Uploaded by <a href="/user/<%= mode.createdBy._id %>"><%= mode.createdBy.username %></a> on <%= uploadDate %></p>
            </div>
            <div class="mode-profile-details">
                <p><%= mode.description %></p>
                <% if (user && user._id.toString() === mode.createdBy._id.toString()) { %>
                  <a href="/mode/<%= mode._id %>/edit" class="edit-mode-link">Edit</a>
                  <a href="#" class="delete-mode-link" onclick="confirmDelete()">Delete</a>
                <% } %>
            <!-- Confirmation Modal HTML (hidden by default) -->
            <div id="deleteConfirmModal" style="display:none;">
                <p>Are you sure you want to delete this mode?</p>
                <button onclick="document.getElementById('deleteForm').submit();">Yes, Delete</button>
                <button onclick="document.getElementById('deleteConfirmModal').style.display='none';">Cancel</button>
            </div>
            </div>
            <div class="mode-profile-actions">
                <a href="<%= lightshowUrl %>" id="openOnLightshow" class="mode-profile-button lightshow-button">lightshow.lol →</a>
                <% if (user) { %>
                    <a href="/mode/<%= mode._id %>/download" class="mode-profile-button download-button">Download</a>
                <% } else { %>
                    <a href="/login" class="mode-profile-button download-button-disabled">Login to Download</a>
                <% } %>
            </div>
            <script>
              function confirmDelete() {
                var modal = document.getElementById('deleteConfirmModal');
                modal.style.display = 'block';
              }
            </script>
            <!-- Hidden form for deletion -->
            <form id="deleteForm" action="/mode/<%= mode._id %>/delete" method="post" style="display:none;">
            </form>
            <div class="mode-profile-led-strip-container">
                <%- include('partials/lightshow', { mode: mode }) %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

