<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="search-bar">
            <form action="/modes" method="get">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search for modes..." value="<%= search || '' %>" class="search-input">
                </div>
                <button type="submit">Search</button>
            </form>
        </section>
        <section class="mode-list">
            <% modes.forEach(function(mode) { %>
                <%- include('partials/mode-tile', { mode: mode }) %>
            <% }); %>
        </section>
    </main>
    <script src="/js/VortexLib.js" type="module"></script>
    <script src="/js/Lightshow.js" type="module"></script>
    <script src="/js/initLightshow.js" type="module"></script>
    <%- include('partials/footer') %>
</body>
</html>

