<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="mode-profile-page">
            <h2><%= mode.name %></h2>
            <h5>Uploaded by <a href="/user/<%= mode.createdBy._id %>"><%= mode.createdBy.username %></a> on <%= uploadDate %></h5>
            <a class="mode-profile-header">
                <p><%= mode.description %></p>
            </a>
            <div class="mode-profile-details">
                <form action="/mode/<%= mode._id %>/<%= user && mode.upvotedBy.includes(user._id) ? 'unvote' : 'upvote' %>" method="post" class="votes-container">
                    <button type="submit" class="icon-button">
                        <img src="<%= user && mode.upvotedBy.includes(user._id) ? '/images/color-upvote-icon.png' : '/images/bw-upvote-icon.png' %>" alt="Upvote" class="upvote-icon">
                    </button>
                    <span class="votes-count"><%= mode.votes %></span>
                </form>
                <form action="/mode/<%= mode._id %>/<%= user && user.favorites.includes(mode._id.toString()) ? 'unfavorite' : 'favorite' %>" method="post" class="favorite-container">
                    <button type="submit" class="icon-button">
                        <img src="<%= user && user.favorites.includes(mode._id.toString()) ? '/images/color-star-icon.png' : '/images/bw-star-icon.png' %>" alt="Favorite" class="favorite-icon">
                    </button>
                </form>
                <a href="<%= lightshowUrl %>" id="openOnLightshow" class="mode-profile-button">Open on lightshow.lol →</a>
            </div>
            <div class="mode-profile-actions">
                <% if (user && user._id.toString() === mode.createdBy.toString()) { %>
                    <form action="/mode/<%= mode._id %>/edit" method="get">
                        <button class="mode-profile-button" type="submit">Edit Details</button>
                    </form>
                    <form action="/mode/<%= mode._id %>/delete" method="post">
                        <button class="mode-profile-button" type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
            <div class="mode-profile-download-button">
                <a href="/mode/<%= mode._id %>/download" download>Download</a>
            </div>
            <div class="mode-profile-led-strip-container">
                <%- include('partials/lightshow', { mode: mode }) %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

