<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="search-bar">
            <form id="search-form" action="/modes" method="get">
                <div class="search-container">
                    <input type="text" name="search" class="search-input" placeholder="Search..." value="<%= search %>">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
        <section class="filter-bar">
            <div class="device-filter">
                <% let devices = [
                    { id: 'gloves', name: 'Gloves', img: '/images/gloves-logo-square-64.png', checked: true },
                    { id: 'orbit', name: 'Orbit', img: '/images/orbit-logo-square-64.png', checked: true },
                    { id: 'handle', name: 'Handle', img: '/images/handle-logo-square-64.png', checked: true },
                    { id: 'spark', name: 'Spark', img: '/images/spark-logo-square-64.png', checked: true },
                    { id: 'chromadeck', name: 'Chromadeck', img: '/images/chromadeck-logo-square-64.png', checked: true },
                    { id: 'duo', name: 'Duo', img: '/images/duo-logo-square-64.png', checked: true }
                ]; %>
                <% devices.forEach(function(device) { %>
                    <div class="filter-button">
                        <input type="checkbox" id="<%= device.id %>" name="device" value="<%= device.id %>" <%= device.checked ? 'checked' : '' %>>
                        <label for="<%= device.id %>">
                            <img src="<%= device.img %>" alt="<%= device.name %> Icon">
                            <%= device.name %>
                        </label>
                    </div>
                <% }); %>
            </div>
        </section>
        <section class="showcase">
            <div class="modes-list" id="modes-list">
                <% modes.forEach((mode, index) => { %>
                    <%- include('partials/mode-tile', { mode: mode, orderedPatternSets: orderedPatternSetsArray[index] }) %>
                <% }) %>
            </div>
            <% if (pageCount > 1) { %>
              <div class="pagination-wrapper">
                <ul class="pagination">
                  <% if (currentPage > 1) { %>
                    <li><a href="?page=<%= currentPage - 1 %>&search=<%= search %>&sort=<%= sort %>&order=<%= order %>">&laquo;</a></li>
                  <% } else { %>
                    <li class="disabled"><span>&laquo;</span></li>
                  <% } %>

                  <% for (let i = 1; i <= pageCount; i++) { %>
                    <li class="<%= i === currentPage ? 'active' : '' %>">
                      <a href="?page=<%= i %>&search=<%= search %>&sort=<%= sort %>&order=<%= order %>"><%= i %></a>
                    </li>
                  <% } %>

                  <% if (currentPage < pageCount) { %>
                    <li><a href="?page=<%= currentPage + 1 %>&search=<%= search %>&sort=<%= sort %>&order=<%= order %>">&raquo;</a></li>
                  <% } else { %>
                    <li class="disabled"><span>&raquo;</span></li>
                  <% } %>
                </ul>
              </div>
            <% } %>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

