<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
  <%- include('partials/header') %>
  <%- include('partials/nav') %>
  <main>
    <div class="container" id="mode-data-container" data-mode='<%= JSON.stringify(mode) %>' data-vortex-mode='<%= JSON.stringify(vortexMode) %>'>
      <section class="mode-submission-section">
        <div class="mode-header">
          <h2 class="mode-title"><%= mode.name %></h2>
          <p class="mode-profile-description"><%= mode.description %></p>
        </div>
        <div class="mode-content">
          <div class="mode-patterns">
            <% patternSets.forEach((pat, index) => { %>
              <%- include('partials/pat-list-item-submission', { pat: pat, tempId: index, fileName: pat.name, isDuplicate: false }) %>
            <% }); %>
          </div>
          <div class="mode-preview">
            <div class="device-preview-container">
              <div class="led-container">
                <% orderedPatternSets.forEach((pat, index) => { %>
                  <!-- Lightshow visualization -->
                  <%- include('partials/submission-preview-led-lightshow', { pat: pat, tempId: index }) %>
                <% }); %>
              </div>
              <img class="upload-device-image" src="<%= mode.deviceType === 'Gloves' ? '/images/gloves-leds.png' : mode.deviceType === 'Orbit' ? '/images/orbit-leds.png' : mode.deviceType === 'Handle' ? '/images/handle-leds.png' : mode.deviceType === 'Duo' ? '/images/duo-leds.png' : '/images/chromadeck-leds.png' %>" alt="Device Image">
              <div class="highlight-container">
                <% orderedPatternSets.forEach((pat, index) => { %>
                  <!-- Highlight visualization -->
                  <%- include('partials/submission-preview-led-highlight', { ledIndex: index }) %>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="mode-profile-actions">
          <a href="<%= lightshowUrl %>" id="openOnLightshow" class="mode-profile-button lightshow-button">lightshow.lol →</a>
          <% if (user) { %>
            <a href="/mode/<%= mode._id %>/download" class="mode-profile-button download-button">Download</a>
          <% } else { %>
            <a href="/login" class="mode-profile-button download-button-disabled">Login to Download</a>
          <% } %>
        </div>
      </section>
    </div>
  </main>
  <%- include('partials/footer') %>
  <%- include('partials/script') %>
</body>
</html>

