<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="search-bar">
            <form id="search-form" action="/modes" method="get">
                <div class="search-container">
                    <input type="text" name="search" class="search-input" placeholder="Search..." value="<%= search %>">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
        <section class="filter-bar">
            <div class="device-filter">
                <% let devices = [
                    { id: 'gloves', name: 'Gloves', img: '/images/gloves-logo-square-64.png', checked: true },
                    { id: 'orbit', name: 'Orbit', img: '/images/orbit-logo-square-64.png', checked: true },
                    { id: 'handle', name: 'Handle', img: '/images/handle-logo-square-64.png', checked: true },
                    { id: 'spark', name: 'Spark', img: '/images/spark-logo-square-64.png', checked: true },
                    { id: 'chromadeck', name: 'Chromadeck', img: '/images/chromadeck-logo-square-64.png', checked: true },
                    { id: 'duo', name: 'Duo', img: '/images/duo-logo-square-64.png', checked: true }
                ]; %>
                <% devices.forEach(function(device) { %>
                    <div class="filter-button">
                        <input type="checkbox" id="<%= device.id %>" name="device" value="<%= device.id %>" <%= device.checked ? 'checked' : '' %>>
                        <label for="<%= device.id %>">
                            <img src="<%= device.img %>" alt="<%= device.name %> Icon">
                            <%= device.name %>
                        </label>
                    </div>
                <% }); %>
            </div>
        </section>
        <section class="showcase">
            <div class="modes-list" id="modes-list">
                <% modes.forEach((mode, index) => { %>
                    <%- include('partials/mode-tile', { mode: mode, orderedPatternSets: orderedPatternSetsArray[index] }) %>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

