<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="mode-profile-page">
            <h2><%= mode.name %> by <a href="/users/<%= mode.createdBy._id %>"><%= mode.createdBy.username %></a></h2>
            <header class="mode-profile-header">
                <p><strong>Description:</strong> <%= mode.description %></p>
            </header>
            <div class="mode-profile-details">
                <p><strong>Upload Date:</strong> <%= mode.uploadDate %></p>
                <p><strong>Votes:</strong> <%= mode.votes %></p>
            </div>
            <div class="mode-profile-actions">
                <% if (user && user._id.toString() === mode.createdBy.toString()) { %>
                    <form action="/modes/<%= mode._id %>/edit" method="get">
                        <button class="mode-profile-button" type="submit">Edit Details</button>
                    </form>
                    <form action="/modes/<%= mode._id %>/delete" method="post">
                        <button class="mode-profile-button" type="submit">Delete</button>
                    </form>
                <% } else if (user) { %>
                    <form action="/modes/<%= mode._id %>/upvote" method="post">
                        <button class="mode-profile-button" type="submit">Upvote</button>
                    </form>
                    <% if (user && user.favorites.includes(mode._id.toString())) { %>
                        <form action="/modes/<%= mode._id %>/unfavorite" method="post">
                            <button class="mode-profile-button" type="submit">Unfavorite</button>
                        </form>
                    <% } else if (user) { %>
                        <form action="/modes/<%= mode._id %>/favorite" method="post">
                            <button class="mode-profile-button" type="submit">Favorite</button>
                        </form>
                    <% } %>
                    <a href="/modes/<%= mode._id %>/download" download>Download</a>
                <% } %>
            </div>
            <div class="mode-profile-led-strip-container">
                <div class="mode-profile-led-strip">
                    <img src="/images/ledstrips/<%= mode._id %>_led1.png" alt="LED Strip 1">
                    <img src="/images/ledstrips/<%= mode._id %>_led1.png" alt="LED Strip 1">
                </div>
                <div class="mode-profile-led-strip">
                    <img src="/images/ledstrips/<%= mode._id %>_led2.png" alt="LED Strip 2">
                    <img src="/images/ledstrips/<%= mode._id %>_led2.png" alt="LED Strip 2">
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>

