<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <div class="container">
            <section class="pat-edit-section">
                <form action="/pat/<%= pat._id %>/edit" method="post">
                    <h2>Edit Mode: <%= pat.name %></h2>
                    <div class="form-group">
                        <label for="patName">Name:</label>
                        <input type="text" id="patName" name="patName" value="<%= pat.name %>" required>
                    </div>
                    <div class="form-group">
                        <label for="patDescription">Description:</label>
                        <textarea id="patDescription" name="patDescription" rows="4" required><%= pat.description %></textarea>
                    </div>
                    <!-- Add more fields here as needed -->
                    <div class="form-group">
                        <button type="submit">Save Changes</button>
                    </div>
                    <div class="form-group">
                        <a href="/pat/<%= pat._id %>">Cancel</a>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>
