<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="profile-section">
           <img src="<%= profileUser.profilePicture || '/images/default-profile.png' %>" alt="Profile Picture">
           <div class="profile-details">
                <% if (user && user.id == profileUser.id) { %>
                  <h2>Your Profile</h2>
                <% } else { %>
                  <h2><%= profileUser.username %></h2>
                <% } %>
                <p class="profile-blurb"><%= profileUser.blurb %></p>
            </div>
        </section>
        <section class="showcase">
            <% if (user && user.id == profileUser.id) { %>
              <h3>Your Modes</h3>
            <% } else { %>
              <h3><%= profileUser.username %>'s Modes</h3>
            <% } %>

            <% if (!userModes.length) { %>
                <p>No modes available.</p>
            <% } else { %>
                <div class="pat-showcase">
                    <% userModes.forEach((mode, index) => { %>
                        <%- include('partials/mode-tile', { mode: mode, orderedPatternSets: orderedPatternSetsArray[index] }) %>
                    <% }); %>
                </div>
            <% } %>

            <% if (user && user.id == profileUser.id) { %>
              <h3>Your Patterns</h3>
            <% } else { %>
              <h3><%= profileUser.username %>'s Patterns</h3>
            <% } %>

            <% if (!userPats.length) { %>
                <p>No pats available.</p>
            <% } else { %>
                <div class="pat-showcase">
                    <% userPats.forEach(pat => { %>
                        <%- include('partials/pat-tile', { pat: pat }) %>
                    <% }); %>
                </div>
            <% } %>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

