<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <section class="terms-section">
            <div class="content-container">
                <h2>Terms of Service</h2>
                <p>Last updated: March 8, 2024</p>
                <article>
                    <h3>1. Acceptance of Terms</h3>
                    <p>By accessing and using the Vortex Community website, you accept and agree to be bound by the terms and provision of this agreement. In addition, when using this website's particular services, you shall be subject to any posted guidelines or rules applicable to such services.</p>
                    
                    <h3>2. User Conduct</h3>
                    <p>Users agree not to use the Vortex Community website to post or transmit any content that is harmful, illegal, threatening, abusive, harassing, defamatory, vulgar, obscene, or otherwise objectionable. Users are responsible for ensuring that their content does not infringe upon or violate the rights of any third party.</p>
                    
                    <h3>3. Intellectual Property</h3>
                    <p>All content provided on Vortex Community is protected by copyright laws. Users grant Vortex Community a non-exclusive, royalty-free license to use, display, and distribute submitted content.</p>
                    
                    <h3>4. Termination of Service</h3>
                    <p>Vortex Community reserves the right to terminate your access to the website without any advance notice for any reason whatsoever.</p>
                    
                    <h3>5. Disclaimer of Warranty</h3>
                    <p>The services provided by Vortex Community are on an "as is" and "as available" basis. Vortex Community expressly disclaims any warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
                    
                    <h3>6. Limitation of Liability</h3>
                    <p>Vortex Community shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data, or other intangible losses resulting from the use or the inability to use the service.</p>
                    
                    <h3>7. Amendments to Terms</h3>
                    <p>Vortex Community reserves the right to amend these terms at any time. Your continued use of the Vortex Community website after any such amendments signifies your acceptance thereof.</p>
                    
                    <h3>8. Contact Information</h3>
                    <p>If you have any questions about these Terms of Service, please contact us at postmaster@vortex.community.</p>
                </article>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

