<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <div class="container">
           <section class="pat-submission-section">
               <form action="/upload/submit" method="post">
                   <div class="pat-submission-showcase">
                       <% pats.forEach((pat, index) => { %>
                           <%- include('partials/pat-tile-submission', { pat: pat, tempId: index, fileName: pat.fileName}) %>
                       <% }); %>
                   </div>
                   <div class="submit-button">
                       <button type="submit">Submit Selected PatternSets</button>
                   </div>
               </form>
           </section>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

