<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="dark-theme">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <div class="container">
            <section class="mode-submission-section">
                <form action="/upload/submit" method="post">
                    <div class="mode-header">
                        <input type="text" id="name" name="name" value="<%= modeData.name %>" placeholder="Mode Title" required>
                        <textarea id="description" name="description" placeholder="Enter description..." rows="1"></textarea>
                    </div>
                    <div class="mode-content">
                        <div class="mode-patterns">
                            <% modeData.jsonData.modes[0].single_pats.forEach((pat, index) => { %>
                                <%- include('partials/pat-list-item-submission', { pat: pat, tempId: index, fileName: pat.fileName, isDuplicate: modeData.isDuplicates[index] }) %>
                            <% }); %>
                        </div>
                        <div class="mode-preview">
                            <img class="device-image" src="/images/gloves.png" alt="Device Image">
                            <div class="pattern-strip">
                                <!-- Rendered pattern strip -->
                            </div>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit">Submit Mode</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>

